html {
 height: 100%;
}
body {
    color: #5d5d5d;
    //color: #e6e6e6;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #333333;
    position: relative;
    height: 100%;
  }

  h1 {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
  }

  .container {
    max-width: 8000px;
    width: 100%;
    margin: auto;
  }

  /* Specific mapael css class are below
  * 'mapael' class is added by plugin
  */

  .mapael .map {
    position: relative;
  }

  .mapael .mapTooltip {
    position: fixed;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
  }

  /* For all zoom buttons */
  .mapael .zoomButton {
    background-color: #333333;
    border: 1px solid #666666;
    color: #666666;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-weight: bold;
    left: 10px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  /* Reset Zoom button first */
  .mapael .zoomReset {
    top: 10px;
  }

  /* Then Zoom In button */
  .mapael .zoomIn {
    top: 30px;
  }

  /* Then Zoom Out button */
  .mapael .zoomOut {
    top: 50px;
  }


.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropbtn option {
  float: none;
  color: black;
  background-color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.centered {
  text-align: center;
}

.btn {
  font-size: 16px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: dodgerblue;
  font-family: inherit;
  margin: 0;
  height: 45px;
}
.btn:hover {
  background-color: deepskyblue;
}

.select-wrapper {
  position: relative;
  width: 200px;
}

.select-wrapper::before {
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 10px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: indianred;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}
select.arrow {
  background-image:
          linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - .5em) .5em;
  background-size:
          5px 5px,
          5px 5px,
          1.5em 1.5em;
  background-repeat: no-repeat;
}
.select:hover {
  background-color: palevioletred;
}

.sliderWrapper{display: inline-block;margin:24px 24px 24px 24px;postion:relative;}
.sliderWrapper div{display: inline-block;line-height:60px;}
/* The switch - the box around the slider */
.switch {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding:0px;
  width: 54px;
  height: 28px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7d7d7;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {background-color: #1fb5ad;}
input:focus + .slider {box-shadow: 0 0 1px #1fb5ad;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}

.costnumber {
  width: 80px;
}

.resultnumber {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  width: 100px;
}

.label {
 /* display: inline-block;
  height: 50px;

  */
}
#file-input {
  display: none;
}

.smol-css-grid {
  --min: 50ch;
  --gap: 0.6rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.w3-table-all{
  border-collapse:collapse;border-spacing:0;width:100%;display:table
}
.w3-table-all{
  border:1px solid #ccc
}
.w3-table-all tr{
  border-bottom:1px solid #ddd
}
.w3-table-all tr:nth-child(odd){
  background-color:#fff
}
.w3-table-all tr:nth-child(even){
  background-color:#f1f1f1
}
.w3-table-all td,.w3-table-all th{
  padding:8px 8px;display:table-cell;text-align:left;vertical-align:top
}
.w3-table-all th:first-child,.w3-table-all td:first-child{
  padding-left:16px
}
#myPlot{
  margin: 0 auto;
  width: 80%;
  height: 100%;

}
.selectMode{
  text-align: center;
}
.modeEmail{
  border-radius: 25px;
  float:left;
  color: #fff;
  background: #5d5d5d;
  padding: 20px;
  width: 400px;
  height: 340px;
}
.modeSimpleFD{
  border-radius: 25px;
  float: left;
  color: #fff;
  background: #5d5d5d;
  padding: 20px;
  width: 400px;
  height: 340px;
}
.loader {
  display:none;
  border: 10px solid black; /* Light grey */
  border-top: 10px solid red; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: fixed; 
  top: 0%; 
  right:0%; 
  transform: translateX(-50%);
}

.scrollabletextbox {
    height:500px;
    width:1000px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 100%;
    overflow:scroll;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}